* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    text-align: center;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    background: #E5E5E5;
}

.main-wrapper {
    max-width: 1200px;
    max-height: 657px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.div-text {
    width: 500px;
    height: 500px;
    background: #232323;
    color: #E5E5E5;
}

.div-title {
    width: 90%;
    height: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #232323;
    color: white;
    font-size: 50px;
}

p {
    margin-left: 50px;
    margin-right: auto;
    margin-top: 50px;
    float: left;
    text-align: left;
    font-size: 13px;
    background: #232323;
    color: #E5E5E5;
}

button {
    cursor: pointer;
    width: 147px;
    height: 33px;
    color: #E5E5E5;
    background: #FE142F;
    margin-top: 150px;
    margin-right: 100px;
    border-radius: 0.5em;
    border-color: #FE142F;
}

img {
    width: 700px;
    height: 500px;
    top: -8px;
    left: -303px
}

.main-nav {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    color: #FE142F;
    background: #E5E5E5;
  }

.logo {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 0 2rem;
}

.nav-links {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

.nav-links :hover {
    width: 110px;
    height: 30px;
    top: 8px;
    left: 1px;
    background: #FE142F;
    color: #E5E5E5;
    border-radius: 0.25em;
}

.burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
}

.line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #FE142F;
    transition: transform 0.75s ease, opacity 0.75s ease;
}

.main-nav.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.main-nav.show .line2 {
    opacity: 0;
  }

.main-nav.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

.main-nav.show .nav-links {
    transform: translateX(0%);
}

@media screen and (max-width: 800px) {

    .nav-links {
      width: 60%;
    }

}

@media screen and (max-width: 600px) {

    .burger {
      display: block;
    }

    .nav-links {
        position: fixed;
        top: 8vh;
        right: 0;
        height: 92vh;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #E5E5E5;
        transform: translateX(100%);
        transition: transform 1s ease;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    }

    .main-title {
        background: #E5E5E5;
        color: #000000;
    }

    .main-text {
        width: 90%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 3em;
        border-style: solid;
        border-color: #FE142F;
        line-height: 16.93px;
    }

    .main-image {
        width: 545.82px;
        height: 337.51px;
        top: -4.01px;
        left: -156.53px;
    }
    
    img {
        width: 90%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}